/* Cabeçalho */
.usuario-logado {
    display: flex;  //os itens internos se comportam como flexíveis
    align-items: center; //alinhamento vertical
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .estrutura_cabecalho {
    display: flex;
    justify-content: space-between;  // alinhamento horizontal - definido espaço intermediario entre os itens
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  
  .titulo-centralizado {
    text-align: center;
    flex-grow: 1; // valor de crescimento 1 - ocupará "uma" parte do espaço disponível.
    margin: 0;
  }
  
  .botao_acao {
    width: 150px; 
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
  }
  
  .sair-botao {
    margin-left: auto;    //esquerdo - usar o espaço restante a esquerda
    margin-right: 20px;    //direito
  }
  
  /* Formulário */
  .estrutura_formulario {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .lado_esquerdo,
  .lado_direito {
    flex: 1; // o item vai crescer para ocupar o espaço restante
  }
  
  .lado_esquerdo {
    padding-right: 20px;
    margin-left: 142px;
  }
  
  .lado_direito {
    padding-left: 20px;
  }
  
  .grupo_formulario {
    margin-bottom: 15px;
  }
  
  .grupo_formulario label {
    display: block;
    margin-bottom: 5px;
  }
  
  .grupo_formulario input[type="text"],
  .grupo_formulario input[type="number"],
  .grupo_formulario input[type="file"],
  .grupo_formulario textarea {
    width: 464px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .grupo_formulario textarea {
    height: 143px;
  }
  
  .grupo_botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .grupo_botoes button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 100px; 
    cursor: pointer;
  }
