<div class="body">
    <h1>LIB - ESCOLA </h1>

  <div class="menu-header" style="margin-left:-7%;">
    <!--fALTA USUÁRIO E SAIR-->
    <button class="button-menu" pButton routerLink="/login" type="button" label="CADASTRAR LIVRO"></button>
    <button class="button-menu" pButton routerLink="/login" type="button" label="CONSULTAR USUÁRIO"></button>
    <button class="button-menu" pButton routerLink="/produtoslistagem" type="button" label="HISTÓRICO"></button>
    <button class="button-menu" pButton routerLink="/produtoslistagem" type="button" label="RELATÓRIO"></button>
    <button class="button-menu" pButton routerLink="/produtoslistagem" type="button" label="RESERVAR LIVRO"></button>
    <button class="button-menu" pButton routerLink="/produtoslistagem" type="button" label="TRANSIÇÃO"></button>

  </div>
</div>