button-log {
    background-color:#0FBD90;
    color: black;
    font-size: 20px;
    margin-left: 1%;
    padding: 9px 45px;
    text-transform: uppercase;
    margin-bottom: 15px;;
}
input {
    padding: 6px;
}
.button-cad {
    padding: 9px;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 1%;
    background-color: #fff;
}
.body {
    background-image:url('https://p4.wallpaperbetter.com/wallpaper/261/421/81/technology-electronic-engineering-electronics-green-wallpaper-thumb.jpg');
    opacity:0.9;
    text-align:center;
    padding-top: 2%;
    padding-bottom: 2%;
}
h1 {
    margin: 0;
    padding: 2%;
    font-size: 45px;
    font-family: monospace;
    color:white;
}
label {
    color:white;
    font-size: 25px;
    font-family: monospace;
}
.header {
    background-color: #0FBD90;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    padding: 2%;

}
.menu-header {
    color: white;
    font-size: 10px;
    margin: 4% 0%;
    display: inline-flex;
}

.title {
    padding: 0;
    margin: 0;
    display: inline-flex;
}
.button-menu {
    font-size: 21px;
    padding: 5%;
    margin: 3%;
    background-color:#0FBD90;
    color: black;
}
.form {
    color:white;
    text-align: center;
    padding-top: 2%;
    font-size: 20px;
   text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
.footer {
    background-color:#0FBD90;
    color: black;
    padding: 2%;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.footer-t {
    display: inline-block; 
    margin: 0% 5%;
    text-align: left;
}
.footer-t1 {
    display: inline-block; 
    text-align: left;
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 0% 6%;
    margin-bottom: 1%;
}
th, td {
    color: white;
    font-size: 22px;
}
.button-del {
    color: white;
    background-color: rgb(213 20 20);
    padding: 9px;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 1%;
}
h3 {
    margin-bottom: 0px!important;
    padding-bottom:0px!important;
    font-size: 21px;
}