<p>home works!</p>

<ng-container *ngIf="authService.utilizadorAtual$ | async as user">
    <button type="submit" (click)="logout()">Sair</button>
</ng-container>

<h3 *ngIf="user$ | async as user"> Bem vindo, {{user.email}}</h3>

<a *ngIf="somenteAdm" href='/cadastrarlivro'><button>Cadastrar Livro</button></a><br /><br />
<a *ngIf="somenteAdm" href='/transacao'><button>Transacao</button></a><br /><br />
<a *ngIf="somenteAdm" href='/buscarusuario'><button>Consultar Usuario</button></a><br /><br />
<a *ngIf="somenteAdm" href='/historicotransacoes'><button>Histórico</button></a><br /><br />
<a *ngIf="somenteAdm" href='/relatoriolivro'><button>Relatorio</button></a><br /><br />
<a  href='/reserva'><button>Reservar Livro</button></a><br /><br />
<a *ngIf="somenteUsuarioComum" href='/comentariolivro'><button>Avaliar & Classificar</button></a><br /><br />
<a  href='/reservaporusuario'><button>Histórico Reserva</button></a><br /><br />







