<div class="header">
  <div class="header-left">
    <h1><strong>LIB-ESCOLA</strong></h1>
  </div>
  <div class="header-right">
    <a href="/login"><button>Login</button></a>
  </div>
</div>

<div class="content-container">
  <div class="pesquisa-container">
    <div class="pesquisa-input">
      <input type="text" [(ngModel)]="termoPesquisa"  placeholder="Pesquisar Livro por nome, autor, isbn"  (input)="pesquisarLivros(); onInput()"/>
    </div>
  </div>

  
  <div *ngIf="(livros$ | async) as livros; else loading" class="card-container">
    <h2>Resultados da Pesquisa</h2>
    <div class="card-row">
     
      <div *ngFor="let livro of livros" class="card" (click)="livro.id && exibirDetalhes(livro.id)">
        <img [src]="livro.foto" alt="{{ livro.titulo }}">
        <h3  style = 'font-size:20px'>Quantidade: {{ livro.quantidade }}</h3>
      </div>
    </div>
  </div>

  
  <ng-template #loading>
    <div *ngIf="termoPesquisa">
      <p>Nenhum livro encontrado para "{{ termoPesquisa }}"</p>
    </div>
  </ng-template>
</div>



