.detalhes-livro {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .detalhes-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .detalhes-card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .detalhes-card h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .detalhes-card p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .detalhes-livro-vazio {
    text-align: center;
    padding: 20px;
  }
  
