<div class="header-container">
  <div *ngIf="usuarioLogado" class="usuario-logado">
    <p>{{ usuarioLogado }}</p>
  </div>
  <h2 class="titulo-centralizado">TRANSAÇÃO</h2>
  <button type="submit" (click)="logout()" class="action-button sair-button">Sair</button>
</div>

<div class="form-container">
  <div class="left-side">
    <form (ngSubmit)="realizarTransacao()">
      <div class="form-group">
        <select id="tipo" name="tipo" [(ngModel)]="transacao.tipo">
          <option value="emprestimo">Empréstimo</option>
          <option value="devolucao">Devolução</option>
        </select>
      </div>
  
      <div class="form-group">
        <input id="livroNome" name="livroNome" [(ngModel)]="transacao.livroNome" class="styled-input" placeholder="Nome do Livro" (input)="buscarLivros(transacao.livroNome)">
        <ul *ngIf="livrosEncontrados.length > 0" class="dropdown-list">
          <li *ngFor="let livro of livrosEncontrados" (click)="selecionarLivro(livro)">{{ livro.titulo }}</li>
        </ul>
      </div>
  
      <div class="form-group">
        <input id="usuarioNome" name="usuarioNome" [(ngModel)]="transacao.usuarioNome" class="styled-input" placeholder="Nome do Usuário" (input)="buscarUsuarios(transacao.usuarioNome)">
        <ul *ngIf="usuariosEncontrados.length > 0" class="dropdown-list">
          <li *ngFor="let usuario of usuariosEncontrados" (click)="selecionarUsuario(usuario)">{{ usuario.nomeUsuario }}</li>
        </ul>
      </div>
  
      <div class="form-group">
        <input id="quantidadeLivros" name="quantidadeLivros" type="number" placeholder="Quantidade" [(ngModel)]="transacao.quantidadeLivros">
      </div>

      <div class="form-group button-group">
        <button type="submit">Cadastrar</button>
        <a href='/home'><button type="button">Cancelar</button></a>
      </div>
    </form>
  </div>
</div>



  