
<div class="header-container">
    <div *ngIf="usuarioLogado" class="usuario-logado">
      <p>{{ usuarioLogado }}</p>
    </div>
    <h2 class="titulo-centralizado">CADASTRAR USUÁRIO</h2>
    <ng-container *ngIf="authService.utilizadorAtual$ | async as user">
      <button type="submit" (click)="logout()" class="action-button sair-button">Sair</button>
    </ng-container>
</div>

<div class="form-container">
    <div class="left-side">

        <div class="form-group">
            <input type="text" [(ngModel)]="usuario.nomeUsuario" placeholder="Nome Usuário">
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="usuario.name" placeholder="Nome Completo">
        </div>

        <div class="form-group">
            <input type="password" [(ngModel)]="password" [(ngModel)]="usuario.password" placeholder="Senha">
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="usuario.telefone" placeholder="Telefone">
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="email" [(ngModel)]="usuario.email" placeholder="Email">
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="usuario.cpf" placeholder="CPF">
        </div>

        <div class="form-group">
             <input type="text" [(ngModel)]="usuario.endereco" placeholder="Endereço">
        </div>

        <div class="form-group">
                <select [(ngModel)]="usuario.role">
                    <option value="usuario">Função Usuário</option>
                    <option value="admin">Função Admin</option>
                </select>
        </div>
    </div>

    <div class="right-side">
        <div class="form-group button-group">
            <button (click)="registrar()">Cadastrar</button>
            <a  href='/home'><button>Cancelar</button></a>
        </div>
    </div>
        
     
       
   
</div>

