
<div *ngIf="usuarioLogado">
    <p>Usuário Logado: {{ usuarioLogado }}</p>
</div>

<ng-container *ngIf="authService.utilizadorAtual$ | async as user">
    <button type="submit" (click)="logout()">Sair</button>
</ng-container>

<div>
    <h2>Cadastro Usuário</h2>
    <label>Email:</label>
    <input type="text" [(ngModel)]="email" [(ngModel)]="usuario.email" placeholder="Digite seu email">
    <label>Senha:</label>
    <input type="password" [(ngModel)]="password" [(ngModel)]="usuario.password" placeholder="Digite a senha">
    <label>Nome Completo:</label>
    <input type="text" [(ngModel)]="usuario.name" placeholder="Digite o nome completo">
    <label>Nome Usuário:</label>
    <input type="text" [(ngModel)]="usuario.nomeUsuario" placeholder="Digite o nome do usuário">
    <label>CPF:</label>
    <input type="text" [(ngModel)]="usuario.cpf" placeholder="Digite o CPF do usuário">
    <label>Telefone:</label>
    <input type="text" [(ngModel)]="usuario.telefone" placeholder="Digite o telefone do usuário">
    <label>Endereço:</label>
    <input type="text" [(ngModel)]="usuario.endereco" placeholder="Digite endereco do usuário">
    <label>Função:</label>
   <select [(ngModel)]="usuario.role">
    <option value="usuario">Usuário</option>
    <option value="admin">Admin</option>
   </select>

   <button (click)="registrar()">Cadastrar</button>
</div>
<a  href='/home'><button>Cancelar</button></a>
