
<div class="header-container">
  <div *ngIf="usuarioLogado" class="usuario-logado">
    <p>{{ usuarioLogado }}</p>
  </div>
  <h2 class="titulo-centralizado"><strong>MINHAS RESERVAS</strong></h2>
  <button type="submit" (click)="logout()" class="action-button sair-button">Sair</button>
</div>


<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>NOME DO LIVRO</th>
        <th>DATA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas">
        <td>{{reserva.livroNome}}</td>
        <td>{{reserva.data}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="button-group">
  <a  href='/home'><button>Voltar</button></a>
</div>


