.usuario-logado {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

.titulo-centralizado {
  text-align: center;
  flex-grow: 1;
  margin: 0;
}

.action-button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.sair-button {
  margin-left: auto;
  margin-right: 20px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden; 
}

.table-wrapper {
  width: 100%;
  max-width: 1200px;
  overflow-y: auto; 
  overflow-x: hidden; 
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed; 
}

thead {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 33.33%;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #222321;
  color: white;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  display: block;
  max-height: calc(100vh - 250px);
  overflow-y: auto;
  width: 100%;
}

tbody tr {
  display: table;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  margin-top: 20px;
}

.button-group button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}




