<div class="header-container">
  <div *ngIf="usuarioLogado" class="usuario-logado">
    <p>{{ usuarioLogado }}</p>
  </div>
  <h2 class="titulo-centralizado"><strong>RELATÓRIO</strong></h2>
  <button type="submit" (click)="logout()" class="action-button sair-button">Sair</button>
</div>

<div class="table-container">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>TÍTULO DO LIVRO</th>
          <th>QUANTIDADE</th>
          <th>DATA DE CADASTRO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of (livros$ | async)">
          <td>{{ livro.titulo }}</td>
          <td>{{ livro.quantidadeInicial }}</td>
          <td>{{ livro.data }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="button-group">
    <a href="/home"><button>Voltar</button></a>
  </div>
</div>








  
  
