<div class="container">
    <h2>Login</h2>
    <form (submit)="login()" class="login-form">
        <div class="form-group">
            <input type="email" id="email" name="email" placeholder="Email"   [(ngModel)]="email" required class="rounded-input">
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" placeholder="Senha" [(ngModel)]="password" required class="rounded-input">
        </div>
        <div class="button-group">
            <button type="submit" mat-raised-button color="primary" class="rounded-button enter-button" >Entrar</button>
        </div>
        <div class="back-button-group">
            <a href='/pesquisarlivro'><button type="button" mat-raised-button color="accent" class="rounded-button back-button">Voltar</button></a>
        </div>

        
    </form>
</div>

