<div>
    <input type="text" [(ngModel)]="termoPesquisa" placeholder="Pesquisar livro" (keyup.enter)="buscarLivros(termoPesquisa)">
    <button (click)="buscarLivros(termoPesquisa)">Pesquisar</button>
  </div>
  
  <div *ngIf="livrosEncontrados.length > 0">
    <div *ngFor="let livro of livrosEncontrados">
      <h3>{{ livro.titulo }}</h3>
      <p>{{ livro.autor }}</p>

      <textarea [(ngModel)]="textoComentario" name="textoComentario" placeholder="Digite seu comentário"></textarea>
      <button (click)="adicionarComentario(livro)">Adicionar Comentário</button>
    </div>
  </div>
  
  <div *ngIf="livrosEncontrados.length === 0 && termoPesquisa.trim() !== ''">
    <p>Nenhum livro encontrado.</p>
  </div>