.usuario-logado {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
  padding-top: 20px; 
}

.titulo-centralizado {
  text-align: center;
  flex-grow: 1;
  margin: 0;
  color:#ffffff; //cor do titulo
}

.action-button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  margin-left: auto; 
  margin-right: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #877166;
  color: white;
}

.button-group {
  display: flex;
  justify-content: right; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.voltar-button {
  margin-left: auto; 
  margin-right: 20px; 
}

