<div class="header-container">
  <div *ngIf="usuarioLogado" class="usuario-logado">
    <p>{{ usuarioLogado }}</p>
  </div>
  <h2 class="titulo-centralizado"><strong>HISTÓRICO EMPRÉSTIMO E DEVOLUÇÃO</strong></h2>
  <button type="submit" (click)="logout()" class="action-button sair-button">Sair</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>TIPO</th>
        <th>NOME DO LIVRO</th>
        <th>DATA</th>
        <th>NOME DO USUÁRIO</th>
        <th>QUANTIDADE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transacao of transacoes">
        <td>{{ transacao.tipo }}</td>
        <td>{{ transacao.livroNome }}</td>
        <td>{{ transacao.data }}</td>
        <td>{{ transacao.usuarioNome }}</td>
        <td>{{ transacao.quantidadeLivros }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="button-group">
  <a href='/home'><button class="action-button voltar-button">Voltar</button></a>
</div>

